sudo: required

language: java

jdk:
  - oraclejdk8
  
services:
  - docker
  
before_install:
 - docker --version
 - docker login --username=$U --password=$P --email=$E
 
install: ./gradlew clean build dockerBuild dockerPush -i
  
